.fas {
  color: #f96816;
}
body {
  background-image: linear-gradient(to right, #0e1e24, #703c1e);
}

.color-change {
  color: #fff;
}

.background {
  background-image: linear-gradient(to right, #0e1e24, #703c1e);
  border: none;
}

.bb {
  background-color: #f96816;
  border-radius: 0;
  border: none;
}

.bb:hover {
  background-color: rgb(212, 86, 14);
  border: none;
}

.body-margin {
  margin-bottom: 50px;
}
